<!-- Team Stats Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>2018 Season Stats</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="home.html">
		<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" href="home.html">Home</a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link" href="team_stats.html">Season Stats</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="player_info.html">Player Information</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
		</div>
	  </div>
	</nav>
	<div class="container">
		<!--
			Todo: Add to your team_stats.html page the following components:
				1. JumboTron announcing the Fall 2018 Season
				2. A table listing 3 different football matches (Colorado State, Nebraska, & New Hampshire)
				3. A second table listing the Win/Loss ratio for the season
		-->
  </table>
  <table class="table table-dark">
  <thead>
    <tr>
      <th colspan="5"><center> CU 2019 Football</th>
    <tr>
      <th></th><th></th><th colspan="2"> Score</th></tr>
    <tr>
      <th>Date</th>
      <th>Team</th>
      <th>CU</th>
      <th>Opponent</th>
      <th>Winner</th>
    </tr>
  </thead>
    <tbody>
    <tr>
      <th scope="row">8/30/2019</th>
      <td>Colorado State</td>
      <td>52</td>
      <td>31</td>
      <td><font color="green">CU</td>
    </tr>
    <tr>
      <th scope="row">9/7/2019</th>
      <td><font color="grey">25 <font color="white">Nebraska</td>
      <td>34</td>
      <td>31</td>
      <td><font color="green">CU (OT)</td>
    </tr>
    <tr>
      <th scope="row">9/14/2019</th>
      <td>Air Force</td>
      <td>23</td>
      <td>30</td>
      <td><font color="red">Air Force (OT)</td>
    </tr>
    <tr>
      <th scope="row">9/21/2019</th>
      <td><font color="grey">24 <font color="white"> Arizona State</td>
      <td>34</td>
      <td>31</td>
      <td><font color="green">CU</td>
    </tr>
    <tr>
      <th scope="row">10/05/2019</th>
      <td>Arizona</td>
      <td>30</td>
      <td>35</td>
      <td><font color="red">Arizona</td>
    </tr>
    <tr>
      <th scope="row">10/11/2019</th>
      <td><font color="grey">13 <font color="white"> Oregon</td>
      <td>3</td>
      <td>45</td>
      <td><font color="red">Oregon</td>
    </tr>
    <tr>
      <th scope="row">10/19/2019</th>
      <td>Washington State</td>
      <td>10</td>
      <td>41</td>
      <td><font color="red">Washington State</td>
    </tr>
    <tr>
      <th scope="row">10/25/2019</th>
      <td>USC</td>
      <td>31</td>
      <td>35</td>
      <td><font color="red">USC</td>
    </tr>
    <tr>
      <th scope="row">11/2/2019</th>
      <td>UCLA</td>
      <td>14</td>
      <td>31</td>
      <td><font color="red">UCLA</td>
    </tr>
    <tr>
      <th scope="row">11/9/2019</th>
      <td>Stanford</td>
      <td>16</td>
      <td>13</td>
      <td><font color="green">CU</td>
    </tr>
    <tr>
      <th scope="row">11/23/2019</th>
      <td>Washington</td>
      <td>14</td>
      <td>20</td>
      <td><font color="green">CU</td>
    </tr>
    <tr>
      <th scope="row">11/30/2019</th>
      <td><font color="grey">6 <font color="white">Utah</td>
      <td>15</td>
      <td>45</td>
      <td><font color="red">Utah</td>
    </tr>
    </tbody>
  </table>
  <table>
    <table class="table table-dark">
    <thead>
      <tr>
        <th colspan="2"><center> CU 2019 Football W:L ratio</th>
      <tr>
        <th><center>Wins</th><th><center>Losses</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><center>5</td><td><center>7</td>
      </tr>
    </tbody>
  </table>
	</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
